@import "tailwindcss";
@import "tailwindcss/theme";

body{
  width: 80%;

  p, h1, h2, h3, input, select{
    color: var(--color-blue);
    font-family: var(--font-roboto-condensed);
  }
}


@theme {
  /* Variavéis de FONTE  */
  --font-roboto-condensed: "Roboto Condensed", serif;
  --font-h1: 2.25rem; /* 36px */
  --font-h2: 1.875rem; /* 30px */
  --font-h3: 1.5rem;   /* 24px */
  --font-p: 1rem;     /* 16px */


  /* Variaveis das CORES  */
  --color-gray-medio: #a9a9a9;
  --color-gray-claro: #f1f1f1;
  --color-green: #b5c865;
  --color-blue: #374957;
  --color-brown-ligth: #fdedee;
  --color-brown-ligth-active: #fac8cb;
  --color-brown-normal: #ee4c58;
  --color-brown-dark: #c0434d;
}

